
<div>
<div *ngIf="!loggedIn">
	<h1 class='center'>Facebook Photo Viewer</h1>
	<a href="#" class="fb btn" (click)="submitLogin();">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
    </a>
	<div class='center'>
	Login via Facebook and to fetch your Photos
	</div>
</div>



<div class="container"  *ngIf="loggedIn">
  <h2 class='center'>Facebook Photo Viewer</h2>
  <h2 class='center' *ngIf="!isLoading">Loading data ...</h2>
  <h6 class='center' *ngIf="errorMessage">{{errorMessage}}</h6>
  <button (click)="logout();" class='logout'>Logout</button>
  <div class="images_container">
    <div class='image' *ngFor="let image of userImages ">
      <img [src]="image.source">
    </div>
  </div>
</div>
</div>
